/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
  font-weight: 500;
}

.logo {
  width: 138px;
  height: 42px;
}

nav {
  display: flex;
  gap: 1rem;
  padding: 2rem 0;

  .viewDidLink {
    align-self: end;
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    margin-bottom: 1rem;
  }
}

h2 {
  display: inline-block;
  font-size: 24px;
  padding-right: 1rem;

  span {
    font-weight: bold;
    color: #264d73;
  }
}

mat-form-field {
  * {
    &:not(mat-label) {
      font-weight: bold;
      font-size: 16px;
    }
  }
}
/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
