<h1>{{ title }}</h1>
<nav>
  <h2>Login As:</h2>
  <mat-form-field appearance="fill">
    <mat-label>Select EDC</mat-label>
    <mat-select
      [formControl]="edcName"
      (selectionChange)="onSelectEdc($event.value)"
    >
      <mat-option *ngFor="let edc of edcList" [value]="edc">{{
        edc.value
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div (click)="onClickViewDID()" class="viewDidLink">View DID</div>
</nav>
<hr />
<router-outlet></router-outlet>
<hr />
<hr />
<app-edc-data [activeTab]="activeEdcId"></app-edc-data>
